<div class="card-deck mb-3 text-center animated fadeIn" ng-if="cm.korisnikInd">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
        	<h4 class="my-0 font-weight-normal" style="color: rgb(247, 126, 146);"><i></b>{{cm.prijavljenKorisnik.ime}} {{cm.prijavljenKorisnik.prezime}}</i></h4>
        </div>
        <div class="card-body">
            <img ng-src="{{cm.prijavljenKorisnik.profilna_slika}}" class="img-fluid" alt="" style="height: 50%;width: 50%;">
            <h1 class="card-title pricing-card-title" style="color: rgb(247, 126, 146);"><b>{{cm.prijavljenKorisnik.korisnicko_ime}}</b></h1>			        
		    <div class="row">
		    	<div class="card-deck mb-3 text-center p-2 mw-100">
				    <div class="card mb-4 box-shadow">
				        <div class="card-header">
				        	<h4 class="my-0 font-weight-normal" style="color: rgb(247, 126, 146);">Vaša adresa stanovanja</h4>
				        </div>
				        <div class="card-body">
				            <ul class="list-unstyled mt-3 mb-4">
				             	<li><b>{{cm.prijavljenKorisnik.adresa}}</b></li>
				            </ul>
				        </div>
				    </div>
			    </div>
		    	<div class="card-deck mb-3 text-center p-2 mw-100">
				    <div class="card mb-4 box-shadow">
				        <div class="card-header">
				        	<h4 class="my-0 font-weight-normal" style="color: rgb(247, 126, 146);">Vaša e-mail adresa</h4>
				        </div>
				        <div class="card-body">
				            <ul class="list-unstyled mt-3 mb-4">
				             	<li><b>{{cm.prijavljenKorisnik.email}}</b></li>
				            </ul>
				        </div>
				    </div>
			    </div>
			    <div class="card-deck mb-3 text-center p-2 mw-100">
				    <div class="card mb-4 box-shadow">
				        <div class="card-header">
				        	<h4 class="my-0 font-weight-normal" style="color: rgb(247, 126, 146);">Vaš broj telefona</h4>
				        </div>
				        <div class="card-body">
				            <ul class="list-unstyled mt-3 mb-4">
				             	<li><b>{{cm.prijavljenKorisnik.telefon}}</b></li>
				            </ul>
				        </div>
				    </div>
			    </div>
			    <div class="card-deck mb-3 text-center p-2 mw-100">
				    <div class="card mb-4 box-shadow">
				        <div class="card-header">
				        	<h4 class="my-0 font-weight-normal" style="color: rgb(247, 126, 146);">Novac sa kojim raspolažete!</h4>
				        </div>
				        <div class="card-body">
				            <ul class="list-unstyled mt-3 mb-4">
				             	<li><b>{{cm.prijavljenKorisnik.stanje_racuna}} RSD</b></li>
				            </ul>
				        </div>
				    </div>
			    </div>
		    </div>
		<button type="button" class="btn btn-lg btn-primary btn-block" ng-click="cm.pripremiZaIzmenuKorisnik(cm.prijavljenKorisnik)" style="margin: auto; width: 50%" style="color: rgb(247, 126, 146);"><b>Izmeni profil</b><span aria-hidden="true">&#9998;</span></button>
        </div>
    </div>
</div>